#########  CREATE POST  CSS

.formWrapper{
    background-color: antiquewhite;
    width: 45%;
    height: auto;
    align-items: center;
    box-shadow: 0px 0px 15px 15px;
    border-radius: 5px;
    margin-top: 30px;
  }

  .formdata{
    align-items: center;
    margin-left: 165px;
  }

  .formWrapper p {
    margin-top: 20px;
    line-height: 10px;
  }
  .rgsBtn{
     display: block;
      margin-left: 25rem;
      margin-top: -5px;
       background-color: rgb(64, 64, 231);
    }
.form-left{
  margin-left: 20rem;
}
    .h4, h4 {
      font-size: 1.5rem;
      text-align: center;
      margin-right: 238px;
  }
    /* CREATE POST END HERE */

