
.header{
   margin-top: 20px;
   background-color: cadetblue;
   max-width: 200%;
   text-align: center;
}
.coloum {
    max-width: 100%;
}
.form-control {
    max-width: 350px;

}
.form-group{
    width: 200%;
}

.image {
    width:150%;
    float: right;
    margin-left: 100px;
    margin-top: -60px;

}
.img {
    vertical-align: middle;
    border-radius: 83px;
    width: 45px;
    background-color: burlywood;
    float: right;
    margin-top: -69px;
    margin-right: -5rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
.myaccount-btn{
    width: 7rem;
    position: fixed;
    float: right;
    left: 115rem;
    margin-top: -5rem;
    margin-right: -5rem;
    border-radius: 18px;
}

.rowC{
    display:flex;
     flex-direction:row;
     max-width: 100%;
     min-width: 100%;
    }

.form-body button{
   margin-left: 130px;
   margin-top: 10px;
}

.form-body label {
    width: 55%;
    margin-left: 0px;
    display: list-item;
    font-size: x-large;
    float: left;
}

.header{
    width: 80%;
    margin-left: 15%;
    margin-top: -24px;
}

.addnewuser_btn{
    float: left;
    margin-top: 20px;
    margin-right: 2rem;
    margin-left: 1rem;
    background-color: orangered;
}
.h3, h3 {
    font-size: 1.75rem;
    background: cadetblue;
    margin-left: -120px;
}



/* dropdown css */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: fixed;
    left: 76rem;
    bottom: 10rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ae19ca1a;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 27;
    position: absolute;
    left: 39rem;
    bottom: -4rem;
    border-radius: 15px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}